{extend name="public/index" /}

{block name="title"}首页{/block}

{block name="link"}
<link href="/static/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
<link href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css">
<link href="/static/css/app.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/theme/default-theme.min.css" rel="stylesheet" type="text/css">
{/block}

{block name="body"}
<body class="default-theme">

<!-- Preloader Start -->
<div class="preloader"></div>
<!-- Preloader end -->
<!-- main wrapper start -->
<div class="main-wrapper">
    <div class="chatapp">
        <!-- navbar start -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white border-bottom shadow-sm" id="navbar">
            <a class="navbar-brand" href="javascript:void(0);">
                <img alt="" class="d-inline-block align-top" height="50" src="/static/img/logo.svg" width="50">
                <h1>Chatriq</h1>
            </a>
            <div class="ml-auto d-flex align-items-center">
                <div class="iconbox iconbox-search btn-hovered-light">
                    <!--                    <i class="iconbox__icon mdi mdi-magnify"></i>-->
                </div>
                <div class="navbar-nav">
                    <!--<div class="iconbox-group">
                        <div class="iconbox btn-hovered-light"><i class="iconbox__icon mdi mdi-wallet-outline"></i>
                        </div>
                        <div class="iconbox btn-hovered-light"><i class="iconbox__icon mdi mdi-diamond-stone"></i></div>
                        <div class="iconbox btn-hovered-light"><i class="iconbox__icon mdi mdi-bell-ring-outline"></i>
                        </div>
                        <div class="iconbox btn-hovered-light"><i class="iconbox__icon mdi mdi-dots-vertical"></i></div>
                    </div>-->
                    <div class="dropdown user-nav">
                        <div aria-expanded="false" aria-haspopup="true"
                             class="user-avatar user-avatar-sm user-avatar-rounded"
                             data-toggle="dropdown"
                             role="button">
                            <!--                            <div class="chatriq-user chatriq-user-01"></div>-->
                            <img src="/static/img/user/50/2.png">
                        </div>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item logout" href="javascript:">
                                <span>
                                    <i class="mdi mdi-logout-variant"></i>
                                </span>
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                    <div class="iconbox-searchbar">
                        <form>
                            <input autofocus class="form-control" placeholder="Search here..." type="text">
                            <button class="search-submit" type="submit"><i class="mdi mdi-magnify"></i></button>
                            <a class="search-close" href="javascript:void(0)"><i class="mdi mdi-arrow-left"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navbar end -->
        <!-- sidebar start -->
        <div class="chatapp__sidebar">
            <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class="mdi mdi-message-text-outline"></i>
                        <span>Chats</span>
                    </a>
                </li>
                <li class="nav-item sidebar-bottom-nav nav-item-help">
                    <a class="nav-link" href="javascript:void(0);" title="Help">
                        <i class="mdi mdi-help-circle-outline"></i>
                        <span>Help</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar end -->
        <!-- main content start -->
        <div class="chatapp__content">
            <div class="chatapp__messagetab">
                <!-- user list start -->
                <div class="chatapp-user-list">
                    <div class="chatapp-user-list-body custom-scrollbar">
                        <div class="chatapp__headingbar">
                            <h6>All Messages</h6>
                            <div class="chatapp__actions">
                                <!--<div class="chatapp__actions&#45;&#45;icon">
                                    <i class="mdi mdi-heart"></i>
                                </div>
                                <div class="chatapp__actions&#45;&#45;icon">
                                    <i class="mdi mdi-square-edit-outline"></i>
                                </div>
                                <div class="chatapp__actions&#45;&#45;icon">
                                    <i class="mdi mdi-dots-horizontal-circle-outline"></i>
                                </div>-->
                            </div>
                        </div>
                        <ul class="list-unstyled">
                            <li class="active">
                                <div class="conversation ">
                                    <div class="user-avatar user-avatar-rounded online">
                                        <!--                                        <div class="chatriq-user chatriq-user-11"></div>-->
                                        <img alt="" class="chatriq-user chatriq-user-11"
                                             src="/static/img/user/50/66e5244aa09a1d8b52b754d3b422fbb7.png">
                                    </div>
                                    <div class="conversation__details">
                                        <div class="conversation__name">
                                            <div class="conversation__name--title">赚钱小分队</div>
                                            <div class="conversation__time">07:15 PM</div>
                                        </div>
                                        <div class="conversation__message">
                                            <div class="conversation__message-preview">
                                                这里显示最新一条消息~
                                            </div>
                                            <span><i class="mdi mdi-pin"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="mfb-component--br mfb-slidein-spring" data-mfb-toggle="click" id="mfbMenu">
                        <li class="mfb-component__wrap"><a class="mfb-component__button--main" href="#">
                            <i class="mfb-component__main-icon--resting mdi mdi-plus ion-plus-round"></i>
                            <i class="mfb-component__main-icon--active mdi mdi-close ion-close-round"></i>
                        </a>
                            <ul class="mfb-component__list">
                                <li>
                                    <a class="mfb-component__button--child" data-mfb-label="帮助" href="javascript:">
                                        <i class="mfb-component__child-icon mdi mdi-android-messages"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="mfb-component__button--child logout" data-mfb-label="退出"
                                       href="javascript:">
                                        <i class="mfb-component__child-icon mdi mdi-account-group"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- user list end -->
                <!-- conversations start -->
                <div class="chatapp__conversations">
                    <!-- conversation wrapper start -->
                    <div class="conversation-wrapper">
                        <div class="conversation-panel">
                            <div class="conversation-panel__head">
                                <div class="back-button-md"><i class="mdi mdi-arrow-left"></i></div>
                                <div class="conversation-panel__avatar info-panel-opener">
                                    <div class="user-avatar user-avatar-rounded">
                                        <img alt="" class="chatriq-user chatriq-user-11"
                                             src="/static/img/user/50/66e5244aa09a1d8b52b754d3b422fbb7.png">
                                        <!--                                        <div class="chatriq-user chatriq-user-11"></div>-->
                                    </div>
                                    <div class="conversation__name">
                                        <div class="conversation__name--title">赚钱小分队</div>
                                        <div class="conversation__time">last seen at 07:15 PM</div>
                                    </div>
                                </div>
                                <div class="conversation__actions">
                                    <!--<div class="action-icon" data-toggle="modal" data-target="#outGoingCall" data-backdrop="static" data-keyboard="false">
                                        <i class="mdi mdi-phone"></i>
                                    </div>
                                    <div class="action-icon" data-toggle="modal" data-target="#incomingVideoStart" data-backdrop="static" data-keyboard="false">
                                        <i class="mdi mdi-video-outline"></i>
                                    </div>-->
                                    <div class="dropdown">
                                        <div aria-expanded="false" aria-haspopup="true" class="action-icon"
                                             data-toggle="dropdown" role="button">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:">
                                                <span>
                                                    <i class="mdi mdi-export-variant"></i>
                                                </span>
                                                <span>Help</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item logout" href="javascript:">
                                                <span>
                                                    <i class="mdi mdi-cancel"></i>
                                                </span>
                                                <span>Logout</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-panel__body">
                                <div class="custom-scrollbar2">
                                    <div class="container">
                                        <ul class="chat-style-2">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="conversation-panel__footer">
                                <div class="composer">
                                    <div id="onlineUsers"
                                         style="background-color:#ae6eea;padding: 5px 8px;border-radius: 50%;color:#ffffff;margin: auto 5px auto auto;">
                                        01
                                    </div>
                                    <div id="openPage"
                                         style="margin: auto;background-color:#ae6eea;padding: 5px 8px;border-radius: 50%;color:#ffffff;">
                                        01
                                    </div>
                                    <div class="composer__middle">
                                        <textarea autofocus class="form-control" id="msg"
                                                  placeholder="Type a message..." rows="1"></textarea>
                                    </div>
                                    <div class="composer__right">
                                        <div class="composer__right--send"><i class="mdi mdi-send"></i></div>
                                        <div class="composer__right--microphone"><i class="mdi mdi-microphone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- conversation panel end -->
                    <!-- information panel start -->
                    <div class="information-panel">
                        <div class="information-panel__head">
                            <h5>Contact info</h5>
                            <div class="information-panel__closer"><i class="mdi mdi-close"></i></div>
                        </div>
                        <div class="information-panel__body custom-scrollbar">
                            <div class="userprofile-avatar"><img alt="" src="/static/img/user/150/01.jpg"></div>
                            <div class="userprofile-name">
                                <h4>Jack P. Angulo</h4>
                                <span>Product Manager</span>
                                <div class="social-icon-box">
                                    <div class="social-icon"><i class="mdi mdi-facebook"></i></div>
                                    <div class="social-icon"><i class="mdi mdi-linkedin"></i></div>
                                    <div class="social-icon"><i class="mdi mdi-twitter"></i></div>
                                    <div class="social-icon"><i class="mdi mdi-youtube"></i></div>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-sm table-borderless user-table-info">
                                <tr>
                                    <td><i class="mdi mdi-cellphone-android"></i></td>
                                    <td>+91 99041-99041</td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-web"></i></td>
                                    <td>www.jackangulo.com</td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-map-marker"></i></td>
                                    <td>2519 Burnside Court, HORICON, WI, 53032</td>
                                </tr>
                            </table>
                            <hr>
                            <div class="accordion accordion-ungrouped mb-3" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div aria-controls="collapseOne" aria-expanded="true" class="card-title"
                                             data-target="#collapseOne" data-toggle="collapse"
                                             role="button">
                                            <div class="acpanel__heading">
                                                <div class="acpanel__left"><span><i class="mdi mdi-camera-outline"></i></span><span>Photos & Media</span>
                                                </div>
                                                <div class="acpanel__right"><span class="badge badge-info">26</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-labelledby="headingOne" class="collapse show"
                                         data-parent="#accordionExample"
                                         id="collapseOne">
                                        <div class="card-body">
                                            <!--<div class="slick-slider">
                                                <div><img class="img-fluid" src="/static/img/media/01.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/02.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/03.png" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/04.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/05.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/06.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/07.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/04.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/02.jpg" alt="">
                                                </div>
                                                <div><img class="img-fluid" src="/static/img/media/04.jpg" alt="">
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div aria-controls="collapseTwo"
                                             aria-expanded="false"
                                             class="card-title collapsed d-flex justify-content-between align-items-center"
                                             data-target="#collapseTwo" data-toggle="collapse"
                                             role="button">
                                            <div class="acpanel__heading">
                                                <div class="acpanel__left"><span><i
                                                        class="mdi mdi-file-document-outline"></i></span><span>Documents</span>
                                                </div>
                                                <div class="acpanel__right"><span class="badge badge-info">16</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample"
                                         id="collapseTwo">
                                        <div class="card-body">
                                            <ul class="list-unstyled documentlist-wrapper">
                                                <li>
                                                    <div class="doclist">
                                                        <div class="docicon iconbox btn-solid-danger"><i
                                                                class="iconbox__icon mdi mdi-file-pdf-box"></i></div>
                                                        <div class="doctitle">
                                                            <div class="docname">example-file.pdf</div>
                                                            <div class="docsize">217kb</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="doclist">
                                                        <div class="docicon iconbox btn-solid-info"><i
                                                                class="iconbox__icon mdi mdi-file-word-box"></i></div>
                                                        <div class="doctitle">
                                                            <div class="docname">example-file.docs</div>
                                                            <div class="docsize">217kb</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="doclist">
                                                        <div class="docicon iconbox btn-solid-success"><i
                                                                class="iconbox__icon mdi mdi-file-excel-box"></i></div>
                                                        <div class="doctitle">
                                                            <div class="docname">example-file.xlxs</div>
                                                            <div class="docsize">217kb</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="doclist">
                                                        <div class="docicon iconbox btn-solid-warning"><i
                                                                class="iconbox__icon mdi mdi-file-powerpoint-box"></i>
                                                        </div>
                                                        <div class="doctitle">
                                                            <div class="docname">example-file.pptx</div>
                                                            <div class="docsize">217kb</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="doclistall">View All</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <div aria-controls="collapseFour"
                                             aria-expanded="false"
                                             class="card-title collapsed  d-flex justify-content-between align-items-center"
                                             data-target="#collapseFour" data-toggle="collapse"
                                             role="button">
                                            <div class="acpanel__heading">
                                                <div class="acpanel__left"><span><i
                                                        class="mdi mdi-settings-outline"></i></span><span>Settings</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-labelledby="headingFour" class="collapse" data-parent="#accordionExample"
                                         id="collapseFour">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div class="setting-list">
                                                        <div class="setting-list-name">Media Auto Download</div>
                                                        <div class="setting-list-switch">
                                                            <div class="custom-control custom-switch">
                                                                <input class="custom-control-input" id="customSwitch1"
                                                                       type="checkbox">
                                                                <label class="custom-control-label"
                                                                       for="customSwitch1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="setting-list">
                                                        <div class="setting-list-name">Mute Conversation</div>
                                                        <div class="setting-list-switch">
                                                            <div class="custom-control custom-switch">
                                                                <input class="custom-control-input" id="customSwitch2"
                                                                       type="checkbox">
                                                                <label class="custom-control-label"
                                                                       for="customSwitch2"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="setting-list">
                                                        <div class="setting-list-name">Notifications</div>
                                                        <div class="setting-list-switch">
                                                            <div class="custom-control custom-switch">
                                                                <input class="custom-control-input" id="customSwitch3"
                                                                       type="checkbox">
                                                                <label class="custom-control-label"
                                                                       for="customSwitch3"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="setting-list">
                                                        <div class="setting-list-name">Block</div>
                                                        <div class="setting-list-switch">
                                                            <div class="custom-control custom-switch">
                                                                <input class="custom-control-input" id="customSwitch4"
                                                                       type="checkbox">
                                                                <label class="custom-control-label"
                                                                       for="customSwitch4"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- information panel end -->
                </div>
                <!-- conversations end -->
            </div>
        </div>
        <!-- main content end -->
    </div>
    <!-- VIDEO CALL START-->
    <div aria-hidden="true" aria-labelledby="incomingVideoStart"
         class="modal fade videocall-modal CallDialogFullscreen-sm" id="incomingVideoStart"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="icvideocallwrapper">
                        <div class="icvideo-contact"
                        ><img alt="" class="img-fluid icvideo-contact__inner" src="/static/img/media/call-01.jpg"></div>
                        <div class="icvideo-user"><img alt="" src="/static/img/user/150/01.jpg"></div>
                        <div class="icvideo-actions">
                            <div class="icvideo-actions__left">
                                <div class="icvideo-actions__left--duration">00:36</div>
                            </div>
                            <div class="icvideo-actions__middle">
                                <div class="">
                                    <div class="iconbox btn-hovered-light" data-placement="top" data-toggle="tooltip"
                                         title="Speaker"><i class="iconbox__icon mdi mdi-volume-high"></i></div>
                                    <div class="iconbox btn-hovered-light" data-placement="top" data-toggle="tooltip"
                                         title="Hold"><i class="iconbox__icon mdi mdi-pause"></i></div>
                                    <div class="iconbox btn-hovered-light" data-placement="top" data-toggle="tooltip"
                                         title="Add Call"><i class="iconbox__icon mdi mdi-phone-plus"></i></div>
                                    <div class="iconbox btn-hovered-light" data-placement="top" data-toggle="tooltip"
                                         title="Disbale Video"><i
                                            class="iconbox__icon mdi mdi-video-off-outline"></i></div>
                                    <div class="iconbox btn-hovered-light" data-placement="top" data-toggle="tooltip"
                                         title="Mute"><i class="iconbox__icon mdi mdi-microphone-off"></i></div>
                                </div>
                            </div>
                            <div class="icvideo-actions__right">
                                <div class="iconbox btn-hovered-light bg-danger" data-dismiss="modal"
                                     data-placement="top" data-toggle="tooltip"
                                     title="Hangup"><i class="iconbox__icon text-white mdi mdi-phone-hangup"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUTGOING VOICE CALL -->
    <div aria-hidden="true" aria-labelledby="outGoingCall" class="modal CallDialogFullscreen-sm" id="outGoingCall"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="user-avatar user-avatar-rounded user-avatar-xl"><img
                                alt="" src="/static/img/user/80/01.jpg"></div>
                        <div class="userprofile-name"><span>Calling...</span>
                            <h4>Jack P. Angulo</h4>
                            <span>Product Manager</span>
                            <div class="call-duration">00:36</div>
                        </div>
                        <div class="call-options">
                            <div class="row">
                                <div class="col-4">
                                    <div class="call-options__iconbox"><i class="mdi mdi-microphone-off"></i></div>
                                    <h6>Mute</h6>
                                </div>
                                <div class="col-4">
                                    <div class="call-options__iconbox"><i class="mdi mdi-volume-high"></i></div>
                                    <h6>Speaker</h6>
                                </div>
                                <div class="col-4">
                                    <div class="call-options__iconbox"><i class="mdi mdi-pause"></i></div>
                                    <h6>Hold</h6>
                                </div>
                            </div>
                        </div>
                        <div class="call-actions">
                            <div class="call-hangup" data-dismiss="modal"><i class="mdi mdi-phone-hangup"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main wrapper end -->
<!-- Javascripts Files -->
<script src="/static/js/popper.min.js"></script>
<script src="/static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/vendors/material-floating-button/dist/mfb.min.js"></script>
<script src="/static/js/main.min.js"></script>
</body>

{/block}

{block name="script"}
<script>
    $(function () {
        $(".logout").on("click", logout);

        $('#msg').bind('keypress', function (event) {
            if (event.keyCode === 13) {
                if (!event.metaKey) {
                    event.preventDefault();
                    sendMsg();
                } else {
                    this.textarea = this.textarea + "\n";
                }
            }
        });

        $(".composer__right").on("click", sendMsg);

        $(".conversation-panel__avatar").off();
    })

    /**
     * 发送消息
     */
    function sendMsg() {
        let msgNode = $("#msg");
        if (!msgNode.val().trim()) {
            return notify.warning("不能发送空白信息");
        }
        ws.send(JSON.stringify({
            type: "msg_text",
            data: msgNode.val(),
            uid: "{:session('user.id')}",
            time: getTime()
        }))

        let sent = `<li class="message sent">
                        <div class="message__text">${msgNode.val()}
                            <div class="metadata"><span class="time">${getTime()}</span></div>
                        </div>
                        <div class="user-avatar user-avatar-rounded" style="margin-left: 15px;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/static/img/user/50/2.png">
                        </div>
                        <div class="message__options"><i class=" mdi mdi-dots-horizontal"></i>
                        </div>
                    </li>`

        $(".chat-style-2").append(sent);

        msgNode.val(' ').focus();
    }
</script>
{/block}